:root {
    --main-background-color: #DB504A;
    --menu-color-selected: #4f6d7a;
    --menu-color-main: #56A3A6;
    --highlight-color: #e3b505;
    --width: 98vw;
    --height: 98vh;
    --font: 'Source Code Pro', monospace;
    --transition-speed: opacity 2s linear;
    /* this lets me set font with em = font-size:  */
    font-size: 6.25%;
    font-family: var(--font);
    font-style: normal;
    text-decoration: none;
    --line-height: 1.1;
    line-height: var(--line-height);
}

body {
    width: var(--width);
    height: var(--height);
    background-color: var(--main-background-color);
    position: fixed;
    justify-content: center;
    text-align: left;
}

.menu {
    border: none;
    padding: 1%;
    /* visibility: hidden; */
    /* text-decoration: none; */
    /* justify-content: center; */
    position: relative;
    display: none;
    flex-direction: column;
    z-index: 100;
    opacity: 0;
    margin: 1px;
    list-style: none;
    /* font-size: 16em; */
    text-align: right;
    vertical-align: center;
    transition: all 0.1s ease 0.1s;
    background-color: rgba(0, 0, 0, 0.0);
    color: grey;
    height: var(--line-height);
    width: 20vw;
}

.menu:hover {
    /* border: 3px dotted var(--highlight-color); */
    transition: all 0.1s ease 0s;
    opacity: 1.0;
    left: 1vw;
    /* font-size: 16em; */
    color: black;
    text-align: left;
    vertical-align: center;
}

.menu:hover>* {
    opacity: 1.0;
    display: flex;
    vertical-align: center;
}

.menu:active {
    color: red;
}

.menu-branch {
    vertical-align: center;
}

.menu-branch:hover {
    /* height: 75vh; */
    height: var(--line-height);
    z-index: 2;
}

.menu-branch:hover~.menu {
    z-index: 1;
    /* text-align: left; */
}

.menu button {
    /* color: black; */
    /* background-color: #4e93b4; */
}

.menu button:hover {
    /* background-color: #56c1d8; */
    /* border: 3px solid var(--highlight-color); */
}

.menu-slider {
    /* text-align: left; */
    /* background-color: var(--menu-color-main); */
    height: fit-content;
}

.menu-root {
    /* transition: all 1.5s ease 4s; */
    /* justify-content: flex-end; */
    opacity: .5;
    position: absolute;
    display: flex;
    top: -1vh;
    left: -1vw;
    height: var(--line-height)*2;
    width: 10vw;
    vertical-align: center;
}

.menu-root:hover {
    /* justify-content: flex-end; */
    height: 96vh;
    width: 22vw;
    opacity: 1.0;
}

.menu-root img {
    max-height: var(--line-height);
    max-width: 3vw;
}

.menu li:hover {
    background-color: pink;
    /* top: 50%;
    left: 50%;
    margin: -15% 0 0 -25%; */
}

.menu span {
    vertical-align: center;
}

#Developmental {
    margin-top: auto;
    /* margin-bottom: auto; */
}

.slidecontainer {
    width: 100%;
    /* background-color: var(--menu-color-main); */
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    /* background: #e3b505; */
    outline: none;
    opacity: 0.3;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1.0;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #56A3A6;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #56A3A6;
    cursor: pointer;
}

#Visuals {
    position: fixed;
}

#Visualization {
    width: var(--width);
    height: var(--height);
    position: inherit;
    background-color: white;
}

.floating {
    position: fixed;
    top: 48vh;
    left: 1vw;
    transition: var(--transition-speed);
    opacity: 1;
    width: 70vw;
    height: 40vh;
}

.floating:hover {
    opacity: 1.0;
    background-color: lightgray;
}

#info_box {
    list-style: square;
    font-size: .8em;
    position: absolute;
    left: 80vw;
    /* right: 100vw; */
    top: 1em;
    height: fit-content;
    width: 17vw;
    justify-content: right;
    text-align: right;
}

#info_box:hover {
    flex-direction: column;
    list-style: square;
    justify-content: right;
    text-align: right;
}

.line {
    fill: none;
    stroke: #000;
    stroke-width: 2.5px;
}

.axis {
    /* font-size: large; */
    color: Black;
}

.axis path,
.axis line {
    fill: none;
    stroke: #999999;
    shape-rendering: crispEdges;
}