:root {
    --main-background-color: #DB504A;
    --menu-color-selected: #4f6d7a;
    --menu-color-main: #56A3A6;
    --highlight-color: #e3b505;
    --width: 98vw;
    --height: 98vh;
    --font: 'Source Code Pro', monospace;
    --transition-speed: opacity 2s linear;
}

body {
    width: var(--width);
    height: var(--height);
    background-color: var(--main-background-color);
    font-family: var(--font);
    font-size: 2vh;
    font-style: normal;
    text-decoration: none;
    position: fixed;
    justify-content: center;
    text-align: left;
}

.menu {
    /* padding: 2%; */
    /* border: 3px solid var(--highlight-color); */
    /* visibility: hidden; */
    /* text-decoration: none; */
    /* justify-content: center; */
    position: relative;
    display: none;
    flex-direction: column;
    z-index: 100;
    opacity: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    transition: all 0.5s ease 0.1s;
    background-color: var(--menu-color-main);
    color: white;
    height: 5vh;
    width: 20vw;
}

.menu:hover {
    /* border: 3px dotted var(--highlight-color); */
    transition: all 0.5s ease 0s;
    background-color: var(--menu-color-selected);
    left: 1vw;
}

.menu:hover>* {
    opacity: 1.0;
    display: flex;
}

.menu-branch {}

.menu-branch:hover {
    height: 75vh;
    z-index: 2;
}

.menu-branch:hover~.menu {
    z-index: 1;
}

.menu-button {
    background-color: #4e93b4;
}

.menu-button:hover {
    background-color: #56c1d8;
}

.menu-slider {
    /* font-size: .8em; */
    text-align: left;
    background-color: var(--menu-color-main);
    height: fit-content;
}

.menu-root {
    /* transition: all 1.5s ease 4s; */
    /* justify-content: flex-end; */
    display: flex;
    flex-direction: column;
    opacity: 1.0;
    position: absolute;
    top: 0;
    left: 0;
    width: 5vw;
}

.menu-root:hover {
    /* justify-content: flex-end; */
    left: 0;
    height: 98vh;
}

.slidecontainer {
    width: 100%;
    background-color: var(--menu-color-main);
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.3;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1.0;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

#Visuals {
    position: fixed;
}

#Visualization {
    width: var(--width);
    height: var(--height);
    position: inherit;
    background-color: white;
}

.floating {
    position: fixed;
    top: 48vh;
    left: 1vw;
    transition: var(--transition-speed);
    opacity: 1;
    width: 70vw;
    height: 40vh;
}

.floating:hover {
    opacity: 1.0;
    background-color: lightgray;
}

#info_box {
    list-style: square;
    font-size: .5em;
    left: 1em;
    top: 1em;
    justify-content: right;
    text-align: right;
}

#info_box:hover {
    flex-direction: column;
    list-style: square;
    height: fit-content;
    justify-content: right;
    text-align: right;
}

.line {
    fill: none;
    stroke: #000;
    stroke-width: 2.5px;
}

.axis {
    font-size: large;
    color: Black;
}

.axis path,
.axis line {
    fill: none;
    stroke: #999999;
    shape-rendering: crispEdges;
}