:root {
    --main-background-color: #DB504A;
    --menu-color-selected: #4f6d7a;
    --menu-color-main: #56A3A6;
    --highlight-color: #e3b505;
    --width: 98vw;
    --height: 98vh;
    --font: 'Source Code Pro', monospace;
    --transition-speed: opacity 2s linear;
    /* this lets me set font with em = font-size:  */
    font-size: 4.25%;
    font-family: var(--font);
    font-style: normal;
    text-decoration: none;
    --line-height: 1.1;
    line-height: var(--line-height);
}

html{
    height: 100vh;
    width: 100vw;
    display: flex;
    margin:0;
    padding: 0;
    background-color: orange;
    justify-content: center;
    align-items: center;
}

body {
    width: var(--width);
    height: var(--height);
    background-color: var(--main-background-color);
    display:flex;
    margin: 0;
    padding: 0;
    /* position: fixed; */
    justify-content: center;
    text-align: left;
    align-items: center;
}

#Visuals {
    /* position: absolute; */
    width: 98vw;
    height: 98vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#Visualization {
    width: 96vw;
    height: 96vh;
    /* position: absolute; */
    background-color: white;
    justify-content: center;
    align-items: center;
}

.menu {
    border: none;
    /* padding: 1%; */
    /* visibility: hidden; */
    /* text-decoration: none; */
    /* justify-content: center; */
    /* margin: 1px; */
    position: relative;
    display: none;
    flex-direction: column;
    z-index: 100;
    opacity: .5;
    list-style: none;
    text-align: right;
    font-size: small;
    vertical-align: center;
    transition: all 0.1s ease 0.1s;
    background-color: rgba(0, 0, 0, 0.0);
    color: black;
    height: fit-content;
    width: fit-content;
}

.menu:hover {
    /* border: 3px dotted var(--highlight-color); */
    transition: all 0.2s ease 0.1s;
    opacity: 1.0;
    display: flex;
    color: black;
    background-color: rgba(161, 153, 153, .5);
    text-align: left;
    vertical-align: center;
    width: 35vw;
}

.menu:hover>* {
    transition: all 0.2s ease 0.1s;
    opacity: 1.0;
    display: flex;
    color: black;
    /* background-color: rgba(161, 153, 153, .5); */
    /* text-align: left; */
    vertical-align: center;
    /* width: 35vw; */
}

.menu li:hover {
    background-color: orange;
}

.menu li:active {
    background-color: rgba(161, 153, 153, .5);
    text-align: right;
    font-size: small;
}

.menu-branch {
    font-size: small;
    transition: all 0.3s ease 0.1s;
    height: fit-content;
    width: fit-content;
}

.menu-branch:hover {
    transition: all 0.5s ease .5s;
    height: fit-content;
}

.menu-slider {
    /* text-align: left; */
    /* background-color: var(--menu-color-main); */
    height: fit-content;
}

.menu-root {
    /* transition: all 1.5s ease 4s; */
    /* justify-content: flex-end; */
    opacity: 1.0;
    background-color: orange;
    position: absolute;
    display: flex;
    top: 2vh;
    left: 2vw;
    height: var(--line-height)*4vh;
    font-size:large;
    /* width: 4vw; */
    vertical-align: center;
    text-align: center;
}

.menu-root:hover {
    /* justify-content: flex-end; */
    /* background-color: rgba(0, 0, 0, 0.0); */
    /* opacity: .9; */
    height: fit-content;
    width: fit-content;
    font-size: x-large;
    background-color: rgba(161, 153, 153, .5);
}

#Developmental {
    /* margin-top: auto; */
    /* margin-bottom: auto; */
}

.slidecontainer {
    width:30vw;
    /* background-color: var(--menu-color-main); */
}

.slider {
    -webkit-appearance: none;
    width: 30vw;
    height: 2vh;
    /* background: #e3b505; */
    outline: none;
    opacity: 0.3;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1.0;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 1vw;
    height: 1vh;
    border-radius: 50%;
    background: #56A3A6;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 1vw;
    height: 1vh;
    /* border-radius: 50%; */
    background: #56A3A6;
    cursor: pointer;
}



.floating {
    position: fixed;
    top: 48vh;
    /* left: 1vw; */
    transition: var(--transition-speed);
    opacity: 1;
    width: 70vw;
    height: 40vh;
}

.floating:hover {
    opacity: 1.0;
    background-color: lightgray;
}

#info_box {
    list-style: square;
    font-size: .8em;
    position: absolute;
    left: 80vw;
    /* right: 100vw; */
    top: 2vh;
    height: fit-content;
    width: 17vw;
    justify-content: right;
    text-align: right;
}

#info_box:hover {
    flex-direction: column;
    list-style: square;
    justify-content: right;
    text-align: right;
}

.line {
    fill: none;
    stroke: #000;
    stroke-width: 2.5px;
}

.axis {
    /* font-size: large; */
    color: Black;
}

.axis path,
.axis line {
    fill: none;
    stroke: #999999;
    shape-rendering: crispEdges;
}