:root {
    --main-background-color: #DB504A;
    --menu-color-selected: #4f6d7a;
    --menu-color-main: #56A3A6;
    --highlight-color: #e3b505;
    --width: 98vw;
    --height: 98vh;
    --font: 'Source Code Pro', monospace;
    --transition-speed: opacity 2s linear;
    /* this lets me set font with em = font-size:  */
    font-family: var(--font);
    font-style: normal;
    text-decoration: none;
    --line-height: 1.1;
    line-height: var(--line-height);



    --background-0: rgba(0, 18, 25);
    --background-1: rgba(0, 95, 115);
    --background-2: rgba(10, 147, 150);
    --background-3: rgba(148, 210, 189);
    --background-4: rgba(233, 216, 166);
    --focus-0:  rgba(238, 155, 0);
    --unfocus-0: rgba(202, 103, 2);

    --contact: rgba(0,255,0,1);
    --hud-rings: rgba(0,255,0,1);


    --boundary-8: hsla(210, 17%, 98%, 1);
    --boundary-7: hsla(210, 16%, 93%, 1);
    --boundary-6: hsla(210, 14%, 89%, 1);
    --boundary-5: hsla(210, 14%, 83%, 1);
    --boundary-4: hsla(210, 11%, 71%, 1);
    --boundary-3: hsla(208, 7%, 46%, 1);
    --boundary-2: hsla(210, 9%, 31%, 1);
    --boundary-1: hsla(210, 10%, 23%, 1);
    --boundary-0: hsla(210, 11%, 15%, 1)


    margin: auto;

}



html{
    height: 100vh;
    width: 100vw;
    background-color:var(--background-0);
    display: grid;
    justify-content: center;
    align-content: center;
    margin:auto;
}

body {
    width: 99vw;
    height: 99vh;
    margin:auto;
    background-color: var(--background-1);
    border-radius:10px;
    filter: drop-shadow(5px 5px 5px var(--boundary-3));
    padding: 0;
    display:grid;

}

#Visuals {
    margin:auto;
    width: 98vw;
    height: 98vh;
    position: relative;
    display: grid;
    grid-template-rows: 10px 1fr 10px 2fr 10px;  /* height limitation on second row */
    grid-template-columns: 10px 4fr 20px 6fr 10px;
    grid-template-areas:
    ".  .           .   .               ."
    ".  controls    .   visualization   ."
    ".  .           .   visualization   ."
    ".  graphs      .   visualization   ."
    ".  .    .   .               .";
    justify-items: center;
    text-align: left;
    align-items: center;
    justify-content: center;
    align-content: center;
}

@media screen and (max-width: 1000px) {
    #Visuals {
        margin:auto;
        width: 100%;
        height: 98vh;
        position: relative;
        display: grid;
        justify-items: center;
        text-align: left;
        align-items: center;
        justify-content: center;
        align-content: center;
        grid-template-rows: 10px 1fr 10px 1fr 10px 1fr 10px;  /* height limitation on second row */
        grid-template-columns: 10px 1fr 10px;
        grid-template-areas:
        ". .                ."
        ". controls         ."
        ". .                ."
        ". visualization    ."
        ". .                ."
        ". graphs           ."
        ". .                .";
    }
  }




#Visualization {
    grid-area:visualization;
    margin: auto;
    z-index: 25;
    width:100%;
    height:100%;

    position: absolute;
    background-color: var(--boundary-8);

    justify-self: center;
    align-self: center;
    border: 5px var(--boundary-2) solid;
    border-radius:10px;
    filter: drop-shadow(5px 5px 5px var(--boundary-3));
}
#visualization:hover{
    filter: drop-shadow(5px 5px 10px var(--boundary-1));
}

#graphs{
    grid-area: graphs;
    background-color: var(--boundary-5);
    border: 5px var(--boundary-2) solid;
    border-radius:10px;
    filter: drop-shadow(5px 5px 5px var(--boundary-3));

    width:100%;
    height:100%;

    display:block;
    overflow:auto;
    align-content:flex-start;
    justify-content:center;

    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
#graphs::-webkit-scrollbar {
    display: none;
}


.floating {
    justify-self:center;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 5px var(--boundary-6) solid;
    border-radius:10px;
    filter: drop-shadow(5px 5px 5px var(--boundary-2));
    height:300px;
    width:95%;


    background-color: var(--boundary-8);
    justify-content: center;
    align-items: center;

}

.floating:hover{
    filter: drop-shadow(5px 5px 10px var(--boundary-1));
    border-color: var(--boundary-2);
}



#controls{
    grid-area: controls;
    margin: auto;
    height:fit-content;

    background-color: var(--boundary-5);



    border-radius:20px;
    border: 5px solid var(--boundary-0);
    filter: drop-shadow(5px 5px 10px var(--boundary-1));

    padding: 10px;

    display: flex;
    align-items: stretch;
    justify-items: flex-start;
    flex-wrap:wrap;
}


.menu-button{
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
    text-justify: center;

    width: 200px;

    height: fit-content;

    background-color: var(--boundary-4);
    border-radius: 10px;
    border: 2px solid var(--boundary-3);
}

.menu-button:hover{
    filter: drop-shadow(5px 5px 5px var(--boundary-1));
}


.menu-slider{
    width:100%;
    height:fit-content;

    background-color: var(--boundary-4);
    border-radius: 20px;
    border: 2px solid var(--boundary-3);
}


.slidecontainer {
    width:30vw;
    /* background-color: var(--menu-color-main); */
}

.slider {
    -webkit-appearance: none;
    width: 70%;
    height: 1vh;
    border-radius:20px;
    /* background: #e3b505; */
    outline: none;
    opacity: 0.3;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1.0;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 1vw;
    height: 1vh;
    border-radius: 50%;
    background: #56A3A6;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 1vw;
    height: 1vh;
    /* border-radius: 50%; */
    background: #56A3A6;
    cursor: pointer;
}


#info_box_container{
    height:fit-content;
}



.line {
    fill: none;
    stroke: #000;
    stroke-width: 2.5px;
}

.axis {
    /* font-size: large; */
    color: Black;
}

.axis path,
.axis line {
    fill: none;
    stroke: #999999;
    shape-rendering: crispEdges;
}
