:root {
    --main-background-color: #DB504A;
    --menu-color-selected: #4f6d7a;
    --menu-color-main: #56A3A6;
    --highlight-color: #e3b505;
    --width: 98vw;
    --height: 98vh;
    --font: 'Source Code Pro', monospace;
    --transition-speed: opacity 2s linear;
    /* this lets me set font with em = font-size:  */
    font-size: 4.25%;
    font-family: var(--font);
    font-style: normal;
    text-decoration: none;
    --line-height: 1.1;
    line-height: var(--line-height);
}
html{
    height: 100vh;
    width: 100vw;
}

body{

    background-color:rgba(70,70,70,255);
    background-image: url('background.png');
    background-attachment: fixed;
    background-position:top center;
    background-size:100%;
    background-repeat: no-repeat;

    justify-content: center;
    align-items: center;
    /* min-width:100%;
    min-height:98vh; */
}

div{
    display: flex;
    font-size: xx-large;
    justify-content: center;
    align-items: center;
}

canvas{
    position: fixed;
    background-color: white;
    opacity: 1.0;
    display:flex;
    height: 85vh;
    width: 85vw;
    justify-content: center;
    align-items: center;
}

img{
    position: fixed;
    justify-content: center;
    align-items: bottom; 
    height: 10vh;

}

.axis path, .axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;  /* Round any decimal pixels so it'll render nicely */
  }